<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  
  
  <context-param>
    <description>This is the data base driver name</description>
    <param-name>db.driver</param-name>
    <param-value>org.postgresql.Driver</param-value>
  </context-param>
  <context-param>
    <description>This is the data base username</description>
    <param-name>db.username</param-name>
    <param-value>portglassAdmin</param-value>
  </context-param>
  <context-param>
    <description>This is the data base password</description>
    <param-name>db.password</param-name>
    <param-value>P0rtgl4ssP4ss</param-value>
  </context-param>
  <context-param>
    <description>This is the data base url</description>
    <param-name>db.url</param-name>
    <param-value>jdbc:postgresql://portglassdb.c3vxmpfh5kyd.us-west-2.rds.amazonaws.com:5432</param-value>
  </context-param>
  <context-param>
    <description>This application index url</description>
    <param-name>db.url</param-name>
    <param-value>http://localhost:8080/Portglass</param-value>
  </context-param>
  <context-param>
    <description>NoReply Email for message delivery</description>
    <param-name>noreply.email</param-name>
    <param-value>noreply.portglass@gmail.com</param-value>
  </context-param>
</web-app>